body
{
    color: rgb(93, 17, 129);
    text-align: center;
    font-family: Arial;

}

header{
    color: red;
    font-size: large;
    font-family: monospace;
}

footer{
    color: blue;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}